@media screen and (min-width: 1158px) {
     .container {
      width: 1158px;
    }
.logo-header {
  margin-right: 76px;
}
.nav_link_address {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0.02em;
  font-size: 16px;
  color: var(--color-nav);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav_link_address:hover {
  color: var(--ocean);
}
.nav_link_address:focus {
  color: var(--ocean);
}

}

    